.not-found {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

a {
  color: #075f66;
  font-weight: 700;
}
