* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #202020;
  background: #fff;
}

body {
  min-width: 20rem;
  margin: 0;
}

button,
input {
  font: inherit;
}
